.form-group {
    display: flex;
    margin: 15px 0px;
}

.form-group input{
    flex-grow: 2;
    margin: 0 5px;
}

.view-inputs textarea{
    border: 1px solid black;
    /* text-decoration: underline; */
    box-shadow: 1px 1px black;
}